{% extends 'AppBundle:default:pc/layout.html.twig' %}
{% block content %}
	
			<div class="modelBlock">
				<div class="innerDiv">
						<img src="{{ asset('bundles/app/default/pc/') }}images/indexImg1.png" />
						<img src="{{ asset('bundles/app/default/pc/') }}images/indexImg2.png" style="display:none;"/>
						<img src="{{ asset('bundles/app/default/pc/') }}images/indexImg3.png" style="display:none;"/>
						<img src="{{ asset('bundles/app/default/pc/') }}images/indexImg4.png" style="display:none;"/>
						<img src="{{ asset('bundles/app/default/pc/') }}images/indexImg5.png" style="display:none;"/>
						<img src="{{ asset('bundles/app/default/pc/') }}images/indexImg6.png" style="display:none;"/>
						<img src="{{ asset('bundles/app/default/pc/') }}images/indexImg7.png" style="display:none;"/>
				</div>
			</div>

			<a href="{{ url('_pc_select') }}" class="abs btn01"><img src="{{ asset('bundles/app/default/pc/') }}images/btn01.png" /></a>

			<a href="javascript:void(0);" onclick="manGoRight();" class="abs arrowLeft"><img src="{{ asset('bundles/app/default/pc/') }}images/arrowLeft.png" /></a>
			<a href="javascript:void(0);" onclick="manGoLeft();" class="abs arrowRight"><img src="{{ asset('bundles/app/default/pc/') }}images/arrowRight.png" /></a>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		var isMoving=false;
		var mCloth=2;
		var mMax=7;
		function manGoLeft(){
			if(!isMoving){
				isMoving=true;
				if(mCloth==mMax){
					mCloth=1;
				}
				else{
					mCloth=parseInt(mCloth)+1;
				}
				
				$('.modelBlock img').eq(mCloth-1).fadeIn(500).siblings('img').fadeOut(500);
				setTimeout(function(){isMoving=false;},550);
			}
		}

		function manGoRight(){
			if(!isMoving){
				isMoving=true;
				if(mCloth==1){
					mCloth=mMax;
				}
				else{
					mCloth=parseInt(mCloth)-1;
				}
				$('.modelBlock img').eq(mCloth-1).fadeIn(500).siblings('img').fadeOut(500);
				setTimeout(function(){isMoving=false;},550);
			}
		}
	</script>
{% endblock %}