{% extends 'AppBundle:default:pc/layout.html.twig' %}
{% block style %}
	body{ background:url({{ asset('bundles/app/default/pc/') }}images/scrollBg.png) center top repeat-x #c6a793;}
	.wrapper{ background:url({{ asset('bundles/app/default/pc/') }}images/page3Bg.jpg) center top no-repeat #000000;}
{% endblock %}
{% block content %}
	{% if app.request.get('gender') == 1 %}
	<div class="seledBlock">
		<div class="innerDiv">
			<div class="seledManB">
				<img src="{{ asset('bundles/app/default/pc/') }}images/girlB10.png" />
			</div>
			
			<div class="seledManF">
				<img src="" />
			</div>
			
			<div class="seledManT">
				<img src="{{ asset('bundles/app/default/pc/') }}images/girlT1.png" />
			</div>
			
			<div class="seledManF2">
				<img src="">
			</div>
		</div>
	</div>
	<ul class="girlPPSel">
		<li class="li01"><a href="javascript:void(0);"><img src="{{ asset('bundles/app/default/pc/') }}images/space.gif" width="124" height="66" /></a></li>
		<li class="li02"><a href="javascript:void(0);" class="on"><img src="{{ asset('bundles/app/default/pc/') }}images/space.gif" width="151" height="66" /></a></li>
		<li class="li03"><a href="javascript:void(0);"><img src="{{ asset('bundles/app/default/pc/') }}images/space.gif" width="148" height="66" /></a></li>
		<li class="li04"><a href="javascript:void(0);"><img src="{{ asset('bundles/app/default/pc/') }}images/space.gif" width="139" height="66" /></a></li>
		<li class="li05"><a href="javascript:void(0);"><img src="{{ asset('bundles/app/default/pc/') }}images/space.gif" width="84" height="66" /></a></li>
	</ul>
	<div class="topSel">
		<div class="ppTop ppTop1" style="display:none;">
			<a href="javascript:void(0);" ctRel="13" class="abs ppTopBtn1">
				<div class="topSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlT13.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" ctRel="14" class="abs ppTopBtn2">
				<div class="topSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlT14.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" ctRel="8" class="abs ppTopBtn3">
				<div class="topSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlT8.png" />
				</div>
			</a>
		</div>
		
		<div class="ppTop ppTop2">
			<a href="javascript:void(0);" ctRel="1" class="abs ppTopBtn1 ppTopSel">
				<div class="topSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlT1.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" ctRel="2" class="abs ppTopBtn2">
				<div class="topSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlT2.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" ctRel="3" class="abs ppTopBtn3">
				<div class="topSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlT3.png" />
				</div>
			</a>
		</div>
		
		<div class="ppTop ppTop3" style="display:none;">
			<a href="javascript:void(0);" ctRel="7" class="abs ppTopBtn1">
				<div class="topSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlT7.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" ctRel="10" class="abs ppTopBtn2">
				<div class="topSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlT10.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" ctRel="4" class="abs ppTopBtn3">
				<div class="topSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlT4.png" />
				</div>
			</a>
		</div>
		
		<div class="ppTop ppTop4" style="display:none;">
			<a href="javascript:void(0);" ctRel="11" class="abs ppTopBtn1">
				<div class="topSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlT11.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" ctRel="12" class="abs ppTopBtn2">
				<div class="topSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlT12.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" ctRel="15" class="abs ppTopBtn3">
				<div class="topSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlT15.png" />
				</div>
			</a>
		</div>
		
		<div class="ppTop ppTop5" style="display:none;">
			<a href="javascript:void(0);" ctRel="5" class="abs ppTopBtn1">
				<div class="topSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlT5.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" ctRel="6" class="abs ppTopBtn2">
				<div class="topSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlT6.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" ctRel="7" class="abs ppTopBtn3">
				<div class="topSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlT7.png" />
				</div>
			</a>
		</div>
	</div>
	<div class="bottomSel">
		<div class="ppBottom ppBottom1" style="display:none;">
			<a href="javascript:void(0);" cbRel="5" class="abs ppBottomBtn1">
				<div class="bottomSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlB5.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" cbRel="3" class="abs ppBottomBtn2">
				<div class="bottomSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlB3.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" cbRel="4" class="abs ppBottomBtn3">
				<div class="bottomSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlB4.png" />
				</div>
			</a>
		</div>
		
		<div class="ppBottom ppBottom2">
			<a href="javascript:void(0);" cbRel="10" class="abs ppBottomBtn1 ppBottomSel">
				<div class="bottomSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlB10.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" cbRel="11" class="abs ppBottomBtn2">
				<div class="bottomSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlB11.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" cbRel="1" class="abs ppBottomBtn3">
				<div class="bottomSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlB1.png" />
				</div>
			</a>
		</div>
		
		<div class="ppBottom ppBottom3" style="display:none;">
			<a href="javascript:void(0);" cbRel="13" class="abs ppBottomBtn1">
				<div class="bottomSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlB13.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" cbRel="14" class="abs ppBottomBtn2">
				<div class="bottomSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlB14.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" cbRel="12" class="abs ppBottomBtn3">
				<div class="bottomSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlB12.png" />
				</div>
			</a>
		</div>
		
		<div class="ppBottom ppBottom4" style="display:none;">
			<a href="javascript:void(0);" cbRel="15" class="abs ppBottomBtn1">
				<div class="bottomSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlB15.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" cbRel="16" class="abs ppBottomBtn2">
				<div class="bottomSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlB16.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" cbRel="2" class="abs ppBottomBtn3">
				<div class="bottomSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlB2.png" />
				</div>
			</a>
		</div>
		
		<div class="ppBottom ppBottom5" style="display:none;">
			<a href="javascript:void(0);" cbRel="6" class="abs ppBottomBtn1">
				<div class="bottomSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlB6.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" cbRel="7" class="abs ppBottomBtn2">
				<div class="bottomSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlB7.png" />
				</div>
			</a>
			
			<a href="javascript:void(0);" cbRel="8" class="abs ppBottomBtn3">
				<div class="bottomSelUnit">
					<img src="{{ asset('bundles/app/default/pc/') }}images/girlB8.png" />
				</div>
			</a>
		</div>
	</div>
	{% else %}
	<div class="seledBlock">
        	<div class="innerDiv">
            	<div class="seledManB">
                	<img src="{{ asset('bundles/app/default/pc/') }}images/manB1.png" />
                </div>
            
            	<div class="seledManF">
                	<img src="" />
                </div>
                
                <div class="seledManT">
                	<img src="{{ asset('bundles/app/default/pc/') }}images/manT1.png" />
                </div>
            </div>
        </div>
        
        <ul class="manPPSel">
        	<li class="li01"><a href="javascript:void(0);" class="on"><img src="{{ asset('bundles/app/default/pc/') }}images/space.gif" width="103" height="30" /></a></li>
            <li class="li02"><a href="javascript:void(0);"><img src="{{ asset('bundles/app/default/pc/') }}images/space.gif" width="138" height="30" /></a></li>
        </ul>
        
        <div class="topSel">
        	<div class="ppTop ppTop1">
            	<a href="javascript:void(0);" ctRel="1" class="abs ppTopBtn1  ppTopSel">
                    <div class="topSelUnit">
                    	<img src="{{ asset('bundles/app/default/pc/') }}images/manT1.png" />
                    </div>
                </a>
                
                <a href="javascript:void(0);" ctRel="2" class="abs ppTopBtn2">
                    <div class="topSelUnit">
                    	<img src="{{ asset('bundles/app/default/pc/') }}images/manT2.png" />
                    </div>
                </a>
                
                <a href="javascript:void(0);" ctRel="3" class="abs ppTopBtn3">
                    <div class="topSelUnit">
                    	<img src="{{ asset('bundles/app/default/pc/') }}images/manT3.png" />
                    </div>
                </a>
            </div>
            
            <div class="ppTop ppTop2" style="display:none;">
            	<a href="javascript:void(0);" ctRel="4" class="abs ppTopBtn1">
                    <div class="topSelUnit">
                    	<img src="{{ asset('bundles/app/default/pc/') }}images/manT4.png" />
                    </div>
                </a>
                
                <a href="javascript:void(0);" ctRel="5" class="abs ppTopBtn2">
                    <div class="topSelUnit">
                    	<img src="{{ asset('bundles/app/default/pc/') }}images/manT5.png" />
                    </div>
                </a>
                
                <a href="javascript:void(0);" ctRel="6" class="abs ppTopBtn3">
                    <div class="topSelUnit">
                    	<img src="{{ asset('bundles/app/default/pc/') }}images/manT6.png" />
                    </div>
                </a>
            </div>
        </div>
        
        <div class="bottomSel">
        	<div class="ppBottom ppBottom1">
            	<a href="javascript:void(0);" cbRel="1" class="abs ppBottomBtn1  ppBottomSel">
                    <div class="bottomSelUnit">
                    	<img src="{{ asset('bundles/app/default/pc/') }}images/manB1.png" />
                    </div>
                </a>
                
                <a href="javascript:void(0);" cbRel="2" class="abs ppBottomBtn2">
                    <div class="bottomSelUnit">
                    	<img src="{{ asset('bundles/app/default/pc/') }}images/manB2.png" />
                    </div>
                </a>
                
                <a href="javascript:void(0);" cbRel="3" class="abs ppBottomBtn3">
                    <div class="bottomSelUnit">
                    	<img src="{{ asset('bundles/app/default/pc/') }}images/manB3.png" />
                    </div>
                </a>
            </div>
            
            <div class="ppBottom ppBottom2" style="display:none;">
            	<a href="javascript:void(0);" cbRel="4" class="abs ppBottomBtn1">
                    <div class="bottomSelUnit">
                    	<img src="{{ asset('bundles/app/default/pc/') }}images/manB4.png" />
                    </div>
                </a>
                
                <a href="javascript:void(0);" cbRel="5" class="abs ppBottomBtn2">
                    <div class="bottomSelUnit">
                    	<img src="{{ asset('bundles/app/default/pc/') }}images/manB5.png" />
                    </div>
                </a>
                
                <a href="javascript:void(0);" cbRel="5" class="abs ppBottomBtn3">
                    <div class="bottomSelUnit">
                    	<img src="{{ asset('bundles/app/default/pc/') }}images/manB6.png" />
                    </div>
                </a>
            </div>
        </div>
	{% endif %}
	
	<a href="javascript:void(0);" class="abs btn062" onclick="history.go(-1);"><img src="{{ asset('bundles/app/default/pc/') }}images/btn06.png" /></a>
	<a href="javascript:void(0);" class="abs btn08" onclick="goPage4();"><img src="{{ asset('bundles/app/default/pc/') }}images/btn08.png" /></a>
	<form action="{{ url('_pc_select',{step:3,gender:app.request.get('gender')}) }}" id="form-select" method="get"><a href="javascript:void(0);" class="abs btn08" onclick="goPage4();"><img src="{{ asset('bundles/app/default/pc/') }}images/btn08.png" /></a><input type="hidden" value="3" name="cloth1" id="cloth1" /><input type="hidden" value="3" name="cloth2" id="cloth2" /><input type="hidden" value="{{ app.request.get('hair') }}" name="hair" id="hair" /></form>
	
	
{% endblock %}
{% block javascripts %}
{{ parent() }}
	<script>
		var mRle;
		var ctNum=1;
		{% if app.request.get('gender') == 1 %}
		var cbNum=10;
		{% else %}
		var cbNum=1;
		{% endif %}

		$(document).ready(function(){
	//初始化人脸
	mRle='{{ app.request.get("hair") }}';
	{% if app.request.get('gender') == 1 %}
	$('.seledManF img').attr('src','{{ asset('bundles/app/default/pc/') }}images/girlF'+mRle+'.png');
	$('.seledManF2 img').attr('src','{{ asset('bundles/app/default/pc/') }}images/girlF'+mRle+'b.png');
	{% else %}
	$('.seledManF img').attr('src','{{ asset('bundles/app/default/pc/') }}images/manF'+mRle+'.png');
	{% endif %}
	
	
	//选择品牌
	$('.girlPPSel a').click(function(){
		$('.girlPPSel a').removeClass('on');
		$(this).addClass('on');
		var pIndex=$('.girlPPSel a').index($('.girlPPSel a.on'))+1;
		$('.ppTop').hide();
		$('.ppBottom').hide();
		$('.ppTop'+pIndex).show();
		$('.ppBottom'+pIndex).show();
	});
	//选择品牌
	$('.manPPSel a').click(function(){
		$('.manPPSel a').removeClass('on');
		$(this).addClass('on');
		var pIndex=$('.manPPSel a').index($('.manPPSel a.on'))+1;
		$('.ppTop').hide();
		$('.ppBottom').hide();
		$('.ppTop'+pIndex).show();
		$('.ppBottom'+pIndex).show();
		});
	
	//选择衣服
	$('.ppTop a').click(function(){
		$('.ppTop a').removeClass('ppTopSel');
		$(this).addClass('ppTopSel');
		var pptSrc=$(this).find('img').attr('src');
		$('.seledManT img').attr('src',pptSrc);
		ctNum=$(this).attr('ctRel');

		$('#cloth1').val(ctNum);
	});
	
	//选择裤子
	$('.ppBottom a').click(function(){
		$('.ppBottom a').removeClass('ppBottomSel');
		$(this).addClass('ppBottomSel');
		var ppbSrc=$(this).find('img').attr('src');
		$('.seledManB img').attr('src',ppbSrc);
		cbNum=$(this).attr('cbRel');
		$('#cloth2').val(cbNum);
	});
});

function goPage4(){
	$('#form-select').submit();
	//window.location.href="selGirlSign.html?mRle="+mRle+"&mCloth="+ctNum+"&mCloth2="+cbNum;
}
</script>
{% endblock %}