{% extends 'AppBundle:default:pc/layout.html.twig' %}
{% block style %}body{ background:url({{ asset('bundles/app/default/pc/') }}images/page2Bg2.jpg) center top no-repeat #000000;}{% endblock %}
{% block content %}
  <div class="wrapper">
    <div class="innerDiv">
    
        <a href="javascript:void(0);" class="abs selManBtn selManBtn1"><img src="{{ asset('bundles/app/default/pc/') }}images/space.gif" class="selManOff" width="277" height="277" /><img src="{{ asset('bundles/app/default/pc/') }}images/manSelIcon.png" class="selManOn" /></a>
        <a href="javascript:void(0);" class="abs selManBtn selManBtn2 selBtnSeled"><img src="{{ asset('bundles/app/default/pc/') }}images/space.gif" class="selManOff" width="277" height="277" /><img src="{{ asset('bundles/app/default/pc/') }}images/manSelIcon.png" class="selManOn" /></a>
        <a href="javascript:void(0);" class="abs selManBtn selManBtn3"><img src="{{ asset('bundles/app/default/pc/') }}images/space.gif" class="selManOff" width="277" height="277" /><img src="{{ asset('bundles/app/default/pc/') }}images/manSelIcon.png" class="selManOn" /></a>
        
        <a href="javascript:void(0);" class="abs btn061" onclick="history.go(-1);"><img src="{{ asset('bundles/app/default/pc/') }}images/btn06.png" /></a>
        <a href="javascript:void(0);" class="abs btn07" onclick="goPage3();"><img src="{{ asset('bundles/app/default/pc/') }}images/btn07.png" /></a>
        
        <img src="{{ asset('bundles/app/default/pc/') }}images/logo.png" class="abs logo" />
        
        
        <a href="javascript:void(0);" class="abs navBtn" onclick="showNav();"><img src="{{ asset('bundles/app/default/pc/') }}images/navBtn.png" /></a>
        <div class="rightInto"><a href="javascript:void(0);" onclick="showLogin();">登入</a> / <a href="javascript:void(0);" onclick="showLogin();">注册</a></div>
        <div class="openNav" style="display:none; width:0;">
            <div class="innerDiv">
                <a href="javascript:void(0);" class="navClose" onclick="closeNav();"><img src="{{ asset('bundles/app/default/pc/') }}images/navCloseBtn.jpg" /></a>
                <img src="{{ asset('bundles/app/default/pc/') }}images/navBg.png" class="navBg" />
                <a href="javascript:void(0);" class="abs nav1"><img src="{{ asset('bundles/app/default/pc/') }}images/space.gif" width="178" height="87" /></a>
                <a href="javascript:void(0);" class="abs nav2"><img src="{{ asset('bundles/app/default/pc/') }}images/space.gif" width="146" height="87" /></a>
                <a href="javascript:void(0);" class="abs nav3"><img src="{{ asset('bundles/app/default/pc/') }}images/space.gif" width="125" height="87" /></a>
                <a href="javascript:void(0);" class="abs nav4"><img src="{{ asset('bundles/app/default/pc/') }}images/space.gif" width="144" height="87" /></a>
                <a href="javascript:void(0);" class="abs nav5"><img src="{{ asset('bundles/app/default/pc/') }}images/space.gif" width="115" height="87" /></a>
                <div class="nameBlock">
                    <a href="javascript:void(0);" onclick="showLogin();">登入</a> / <a href="javascript:void(0);" onclick="showLogin();">注册</a>
                </div>
                <img src="{{ asset('bundles/app/default/pc/') }}images/navQc.jpg" class="abs navQc" style="display:none;" />
            </div>
        </div>
        
        <div class="popBg" style="display:none;"></div>
        <div class="loginBlock pop" style="display:none;">
            <div class="innerDiv">
                <a href="javascript:void(0);" class="abs closeBtn1" onclick="closePop();"><img src="{{ asset('bundles/app/default/pc/') }}images/closeBtn.png" /></a>
                <input type="text" class="abs loginTxt loginTxt1" />
                <input type="text" class="abs loginTxt loginTxt2" />
                <input type="text" class="abs loginTxt loginTxt3" maxlength="11" />
                <input type="text" class="abs loginTxt loginTxt4" />
                <input type="password" class="abs loginTxt loginTxt5" />
                <input type="password" class="abs loginTxt loginTxt6" />
                <input type="text" class="abs loginTxt loginTxt7" />
                
                <a href="javascript:void(0);" class="abs btn02" onclick="login();"><img src="{{ asset('bundles/app/default/pc/') }}images/btn02.png" /></a>
                <a href="javascript:void(0);" class="abs btn03" onclick="getYzm();"><img src="{{ asset('bundles/app/default/pc/') }}images/btn03.png" /></a>
                <a href="javascript:void(0);" class="abs btn04" onclick="register();"><img src="{{ asset('bundles/app/default/pc/') }}images/btn04.png" /></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
<script>
$(document).ready(function(){
    $('.selManBtn').click(function(){
        $('.selManBtn').removeClass('selBtnSeled');
        $(this).addClass('selBtnSeled');
        });
    });
    
function goPage3(){
    var selMan=$('.selManBtn').index($('.selBtnSeled'))+1;//头像
    if(selMan==3){
        selMan=1;
        }
        else if(selMan==1){
            selMan=3;
            }
    window.location.href="selGirlCloth.html?mRle="+selMan;
    }
</script>
{% endblock %}