{% extends 'AppBundle:default:m/layout.html.twig' %}
{% block content %}
	<div class="page page1">
		<div class="h1008">
			<div class="innerDiv">
				<img src="{{ asset('bundles/app/default/m/') }}images/page1.png" class="abs bgImg">
				<div class="indexKvOuter">
					<div class="innerDiv">
						<div class="indexKv"></div>
					</div>
				</div>
				<a href="javascript:void(0);" class="abs btn01" onClick="goPage2();_czc.push(['_trackEvent','Mobile_button','立即开始搭配']);"><img src="{{ asset('bundles/app/default/m/') }}images/btn01.png"></a>
			</div>
		</div>
	</div>

	<div class="page page2" style="display:none;">
		<div class="h1008">
			<div class="innerDiv">
				<img src="{{ asset('bundles/app/default/m/') }}images/page2.png" class="abs bgImg">
				<a href="javascript:void(0);" class="abs selBtn selBtn1"><img src="{{ asset('bundles/app/default/m/') }}images/p2SelA1.png" class="selOff"><img src="{{ asset('bundles/app/default/m/') }}images/p2SelA2.png" class="selOn"></a>
				<a href="javascript:void(0);" class="abs selBtn selBtn2"><img src="{{ asset('bundles/app/default/m/') }}images/p2SelB1.png" class="selOff"><img src="{{ asset('bundles/app/default/m/') }}images/p2SelB2.png" class="selOn"></a>
				<a href="javascript:void(0);" class="abs btn02" onClick="goPage3();_czc.push(['_trackEvent','Mobile_button','下一步选择发型']);"><img src="{{ asset('bundles/app/default/m/') }}images/btn02.png"></a>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		
		$(document).ready(function(){
			$('.selBtn').click(function(){
				$('.selBtn').removeClass('selBtnSeled');
				$(this).addClass('selBtnSeled');
			});
		});

		function goPage2(){
			$('.page1').fadeOut(500);
			$('.page2').fadeIn(500);
		}
		
		function goPage3(){
			var selSex=$('.selBtn').index($('.selBtnSeled'));//0男 1女

			if(selSex=='0'){
				window.location.href='{{ url("_m_select",{gender:0}) }}';
			}
			else if(selSex=='1'){
				window.location.href='{{ url("_m_select",{gender:1}) }}';
			}
			else{
				alert('请选择性别');
			}
		}
	</script>
{% endblock %}