{% extends 'AppBundle:default:m/layout.html.twig' %}
{% block content %}
	<div class="page page8">
		<div class="h1008">
			<div class="innerDiv">
				<img src="{{ asset('bundles/app/default/m/') }}images/page10.png" class="abs bgImg">
            
		            <div class="pageShareEndSel">
		                <img src="{{ asset('bundles/app/default/m/') }}images/book{{ user.cover.style }}.jpg" class="bgBook">
		                {% if user.cover.gender == 1 %}
		                <div class="manSeledFace">
		                    <img src="{{ asset('bundles/app/default/m/') }}images/girlF{{ user.cover.hairStyle }}.png">
		                </div>
		                <div class="manSeledBottom">
		                    <img src="{{ asset('bundles/app/default/m/') }}images/girlB{{ user.cover.cloth2 }}.png">
		                </div>
		                <div class="manSeledTop">
		                    <img src="{{ asset('bundles/app/default/m/') }}images/girlT{{ user.cover.cloth1 }}.png">
		                </div>
		                <div class="manSeledFace2">
							<img src="{{ asset('bundles/app/default/m/') }}images/girlF{{ user.cover.hairStyle }}b.png">
		                </div>
		                {% else %}
		                <div class="manSeledFace">
		                    <img src="{{ asset('bundles/app/default/m/') }}images/manF{{ user.cover.hairStyle }}.png">
		                </div>
		                <div class="manSeledBottom">
		                    <img src="{{ asset('bundles/app/default/m/') }}images/manB{{ user.cover.cloth2 }}.png">
		                </div>
		                <div class="manSeledTop">
		                    <img src="{{ asset('bundles/app/default/m/') }}images/manT{{ user.cover.cloth1 }}.png">
		                </div>
		                {% endif %}
		                
		                <img src="/{{ user.cover.imgUrl }}" class="abs signImg">
		                
		                <p class="myTitle">{{ user.cover.title }}</p>
		            </div>

				<a href="javascript:void(0);" class="abs voteBtn"><img src="{{ asset('bundles/app/default/m/') }}images/page10Img01.png"> 您已获得：<span>{{ user.cover.favourNum }}</span> 个赞</a>
				<a href="{{ url('_m_tmall') }}" class="abs btn16" onClick="_czc.push(['_trackEvent','Mobile_button','前往天猫旗舰店']);"><img src="{{ asset('bundles/app/default/m/') }}images/btn16.png"></a>
				<a href="javascript:void(0);" onClick="showList();_czc.push(['_trackEvent','Mobile_button','查看当前排行']);" class="abs btn17"><img src="{{ asset('bundles/app/default/m/') }}images/btn17.png"></a>
			</div>
		</div>
	</div>

	<div class="popBg" style="display:none;"></div>
	<div class="pop popList" style="display:none;">
		<div class="innerDiv">
			<a href="javascript:void(0);" class="closeBtn" onClick="closePop();"><img src="{{ asset('bundles/app/default/m/') }}images/closeBtn.png"></a>
			<div class="voteList">
				{% for cover in covers %}
				<div class="vlLine">
					<div class="innerDiv">
						<img class="vFace" src="{{ cover.user.headImg}}" width="95" height="95">
						<p class="vName">{{ cover.user.nickName}}</p>
						<p class="vVotes">{{ cover.favourNum }}<img src="{{ asset('bundles/app/default/m/') }}images/page10Img02.png"></p>
						<div class="vLineOuter">
							<div class="vLine" style="width:70%;"></div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<p class="myRank">您的当前排名<span>{{ ranking }}</span>名</p>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>

		$(document).ready(function(){

		});

		function showList(){
			window.scroll(0,0);
			$('.popBg').show();
			$('.pop').hide();
			$('.popList').show();
		}
	</script>
{% endblock %}