{% extends 'AppBundle:default:m/layout.html.twig' %}
{% block content %}
<div class="page page9">
        <div class="innerDiv">
            <img src="{{ asset('bundles/app/default/m/') }}images/page9.png" usemap="#Map" class="abs bgImg">
            <map name="Map">
              <area shape="rect" coords="20,772,164,909" href="javascript:void(0);" onClick="changeTm(1);">
              <area shape="rect" coords="173,772,315,910" href="javascript:void(0);" onClick="changeTm(2);">
              <area shape="rect" coords="323,773,466,913" href="javascript:void(0);" onClick="changeTm(3);">
              <area shape="rect" coords="474,772,617,912" href="javascript:void(0);" onClick="changeTm(4);">
              <area shape="rect" coords="97,921,240,1046" href="javascript:void(0);" onClick="changeTm(5);">
              <area shape="rect" coords="249,920,388,1044" href="javascript:void(0);" onClick="changeTm(6);">
              <area shape="rect" coords="399,922,539,1043" href="javascript:void(0);" onClick="changeTm(7);">
            </map>
            <div class="link link1">
                <div class="innerDiv">
                    <a href="https://taoquan.taobao.com/coupon/unify_apply.htm?sellerId=1771485843&amp;activityId=0ec7b69713694641993eae419fccd60e" class="linkLink1"><img src="{{ asset('bundles/app/default/m/') }}images/space.gif" width="640" height="260"></a>
                    <a href="https://teenieweenie.tmall.com/?spm=a220o.1000855.w5001-3335561412.2.A9ngVd&scene=taobao_shop" class="linkLink2"><img src="{{ asset('bundles/app/default/m/') }}images/space.gif" width="365" height="138"></a>
              </div>
          </div>
            <div class="link link2" style="display:none;">
                <div class="innerDiv">
                    <a href="https://taoquan.taobao.com/coupon/unify_apply.htm?sellerId=1770528988&amp;activityId=1fdc23030896437e9edc0dd315d940e3" class="linkLink1"><img src="{{ asset('bundles/app/default/m/') }}images/space.gif" width="640" height="260"></a>
                    <a href="https://eland.tmall.com/?spm=a220o.1000855.w10338437-3342716046.9.8eDCz2&scene=taobao_shop" class="linkLink2"><img src="{{ asset('bundles/app/default/m/') }}images/space.gif" width="365" height="138"></a>
                </div>
            </div>
            <div class="link link3" style="display:none;">
                <div class="innerDiv">
                    <a href="https://taoquan.taobao.com/coupon/unify_apply.htm?sellerId=1950314581&activityId=e3a7d2d13ebf4c23ae1f8708788c89ad" class="linkLink1"><img src="{{ asset('bundles/app/default/m/') }}images/space.gif" width="640" height="260"></a>
                    <a href="https://roem.tmall.com/?spm=a220o.1000855.w10396503-11430673178.11.8Cr1rN&scene=taobao_shop" class="linkLink2"><img src="{{ asset('bundles/app/default/m/') }}images/space.gif" width="365" height="138"></a>
                </div>
            </div>
            <div class="link link4" style="display:none;">
                <div class="innerDiv">
                    <a href="https://taoquan.taobao.com/coupon/unify_apply.htm?sellerId=1985598030&amp;activityId=3104083077a14cea90c6dd988daa7aa0" class="linkLink1"><img src="{{ asset('bundles/app/default/m/') }}images/space.gif" width="640" height="260"></a>
                    <a href="https://prich.tmall.com/?spm=a220o.1000855.w5001-11303486582.6.01KTRr&amp;scene=taobao_shop" class="linkLink2"><img src="{{ asset('bundles/app/default/m/') }}images/space.gif" width="365" height="138"></a>
                </div>
            </div>
            <div class="link link5" style="display:none;">
                <div class="innerDiv">
                    <a href="https://taoquan.taobao.com/coupon/unify_apply.htm?sellerId=2142698337&amp;activityId=35a9b3921e494b47a2e23af497de671" class="linkLink1"><img src="{{ asset('bundles/app/default/m/') }}images/space.gif" width="640" height="260"></a>
                    <a href="https://scofieldnz.tmall.com/?spm=a220o.1000855.w5001-12431452061.3.gbh7aD&scene=taobao_shop" class="linkLink2"><img src="{{ asset('bundles/app/default/m/') }}images/space.gif" width="365" height="138"></a>
                </div>
            </div>
            <div class="link link6" style="display:none;">
                <div class="innerDiv">
                    <a href="https://taoquan.taobao.com/coupon/unify_apply.htm?sellerId=1984359786&amp;activityId=d4ac36ce5d124bf7bc30e14b67dac9e1" class="linkLink1"><img src="{{ asset('bundles/app/default/m/') }}images/space.gif" width="640" height="260"></a>
                    <a href="https://scofield.tmall.com/?spm=a220o.1000855.w10580795-11863793916.16.iv8S0d" class="linkLink2"><img src="{{ asset('bundles/app/default/m/') }}images/space.gif" width="365" height="138"></a>
                </div>
            </div>
            <div class="link link7" style="display:none;">
                <div class="innerDiv">
                    <a href="https://taoquan.taobao.com/coupon/unify_apply.htm?sellerId=1983806421&amp;activityId=652a9b6e28034773895ad88fc6154459" class="linkLink1"><img src="{{ asset('bundles/app/default/m/') }}images/space.gif" width="640" height="260"></a>
                    <a href="https://plory.tmall.com/p/rd061763.htm?spm=a220o.1000855.w5001-7740317181.16.Q5AHD9&amp;scene=taobao_shop" class="linkLink2"><img src="{{ asset('bundles/app/default/m/') }}images/space.gif" width="365" height="138"></a>
                </div>
            </div>
            <img src="{{ asset('bundles/app/default/m/') }}images/logoOn.png" class="abs linkOn link1On">
            <img src="{{ asset('bundles/app/default/m/') }}images/logoOn.png" class="abs linkOn link2On" style="display:none;">
            <img src="{{ asset('bundles/app/default/m/') }}images/logoOn.png" class="abs linkOn link3On" style="display:none;">
            <img src="{{ asset('bundles/app/default/m/') }}images/logoOn.png" class="abs linkOn link4On" style="display:none;">
            <img src="{{ asset('bundles/app/default/m/') }}images/logoOn.png" class="abs linkOn link5On" style="display:none;">
            <img src="{{ asset('bundles/app/default/m/') }}images/logoOn.png" class="abs linkOn link6On" style="display:none;">
            <img src="{{ asset('bundles/app/default/m/') }}images/logoOn.png" class="abs linkOn link7On" style="display:none;">
            
            <a href="{{ url('_m_share') }}" class="abs btn15"><img src="{{ asset('bundles/app/default/m/') }}images/btn15.png"></a>
  </div>
</div>

<!--<input type="button" value="manGoLeft" onClick="manGoLeft();" style="position:fixed; left:50px; top:50px;">
<input type="button" value="manGoRight" onClick="manGoRight();" style="position:fixed; left:50px; top:100px;">-->

{% endblock %}
{% block javascripts %}
	{{ parent() }}
<script>
$(document).ready(function(){
	$('.link').touchwipe({
		min_move_x: 40, //横向灵敏度
		min_move_y: 40, //纵向灵敏度
		wipeLeft: function() {
			linkGoLeft();
			}, //左侧滑动事件
		wipeRight: function() {
			linkGoRight();
			}, //右侧滑动事件
		preventDefaultEvents: true //阻止默认事件
		});
	});
	
var nowLink=1;
function linkGoLeft(){
	nowLink=parseInt(nowLink);
	if(nowLink==7){
		nowLink=1;
		}
		else{
			nowLink++;
			}
	$('.link').hide();
	$('.linkOn').hide();
	$('.link'+nowLink).show();
	$('.link'+nowLink+'On').show();
	}
	
function linkGoRight(){
	nowLink=parseInt(nowLink);
	if(nowLink==1){
		nowLink=7;
		}
		else{
			nowLink=nowLink-1;
			}
	$('.link').hide();
	$('.linkOn').hide();
	$('.link'+nowLink).show();
	$('.link'+nowLink+'On').show();
	}

function changeTm(ex){
	$('.link').hide();
	$('.linkOn').hide();
	$('.link'+ex).show();
	$('.link'+ex+'On').show();
	}
</script>
{% endblock %}